@font-face {
    font-family: Nightmare;
    src: url('fonts/Nightmare_Hero_Normal.ttf');
}

body {
    background: black;
    text-align: center;
}

strong {
    color: white;
    margin: 0;
}

svg {
    background: rgba(255, 255, 255, 0.2);
}

p {
    color: white;
    margin: -30px;
}

.nightmare {
    font-family: Nightmare, sans-serif;
    font-size: 100px;
    text-shadow: 4px 4px #000000;
}

#wrapper1 {
    margin: -150 auto 0;
}

#wrapper2 {
    margin: -150 auto 0;
}
